@font-face {
	font-family: Arial;
	src: url(../../fonts/Arial.woff2),
		  url(../../fonts/Arial.woff);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Arial;
	src: url(../../fonts/Arial-Italic.woff2),
		  url(../../fonts/Arial-Italic.woff);
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: Georgia;
	src: url(../../fonts/Georgia.woff2),
		  url(../../fonts/Georgia.woff);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Georgia;
	src: url(../../fonts/Georgia-Bold.woff2),
		  url(../../fonts/Georgia-Bold.woff);
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: Georgia;
	src: url(../../fonts/Georgia-Italic.woff2),
		  url(../../fonts/Georgia-Italic.woff);
	font-style: italic;
	font-weight: 400;
}

@import "base";

h2 {
	@include textSettings($georgia, $regular, 44, 0, 130%);
}

h3 {
	@include textSettings($georgia, $regular, 35, 6, 130%);
}

h4 {
	@include textSettings($georgia, $regular, 20, 6, 115%);
}

h5 {
	@include textSettings($georgia, $regular, 15, 6, 110%);
}

.popup__extra-title {
	@include textSettings($georgia, $bold, 15, 6, 110%);
}

.paragraph-l {
	@include textSettings($arial, $regular, 15, 0, 160%);
}

.paragraph-s {
	@include textSettings($arial, $regular, 12, 0, 150%, italic);
}

.burger-menu__body a {
	@include textSettings($arial, $regular, 32, 0, 160%);
}

.logo__title {
	@include textSettings($georgia, $regular, 32, 6, 110%);
}

.logo__subtitle {
	@include textSettings($arial, $regular, 13, 10)
}

@include mediaQuery($bkpoint-526) {
	h2, h3 {
		@include textSettings($georgia, $regular, 25, 6, 130%);
		text-align: center;
	}

	body > *:not(.footer) h4 {
		@include textSettings($georgia, $regular, 15, 6, 110%);
	}

	h5 {
		@include textSettings($georgia, $regular, 15);
	}
}