//fonts
$georgia: Georgia, serif;
$arial: Arial, sans-serif;
$regular: 400;
$bold: 700;
$html-fsize: 16;

//colors
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$opacity-dark-3xl: #29292960;
$color-dark-4xl: #000000;
$color-primary: #F1CDB3;
$color-primary-ligth: #FDDCC4;

//breakpoints
$bkpoint-1214: 1214px;
$bkpoint-1180: 1180px;
$bkpoint-1100: 1100px;
$bkpoint-1030: 1030px;
$bkpoint-970: 970px;
$bkpoint-890: 890px;
$bkpoint-880: 880px;
$bkpoint-820: 820px;
$bkpoint-768: 768px;
$bkpoint-750: 750px;
$bkpoint-700: 700px;
$bkpoint-767-9: 767.9px;
$bkpoint-639: 639px;
$bkpoint-627: 627px;
$bkpoint-526: 526px;
$bkpoint-320: 320px;
