@font-face {
  font-family: Arial;
  src: url(../../fonts/Arial.woff2), url(../../fonts/Arial.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Arial;
  src: url(../../fonts/Arial-Italic.woff2), url(../../fonts/Arial-Italic.woff);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Georgia;
  src: url(../../fonts/Georgia.woff2), url(../../fonts/Georgia.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Georgia;
  src: url(../../fonts/Georgia-Bold.woff2), url(../../fonts/Georgia-Bold.woff);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Georgia;
  src: url(../../fonts/Georgia-Italic.woff2), url(../../fonts/Georgia-Italic.woff);
  font-style: italic;
  font-weight: 400;
}
*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

ol,
ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

body {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  background: #FFFFFF;
  color: #545454;
}

._container {
  margin: auto;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  padding: 0 40px;
  box-sizing: content-box;
}

h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2.75rem;
  letter-spacing: normal;
  line-height: 130%;
  font-style: normal;
}

h3 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2.1875rem;
  letter-spacing: 2.1px;
  line-height: 130%;
  font-style: normal;
}

.h3-mobile {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.5625rem;
  letter-spacing: 1.5px;
  line-height: 130%;
  font-style: normal;
}

h4 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 1.2px;
  line-height: 115%;
  font-style: normal;
}

h5 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 0.9375rem;
  letter-spacing: 0.9px;
  line-height: 110%;
  font-style: normal;
}

.h5-modal-window {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: 0.9px;
  line-height: 110%;
  font-style: normal;
}

.paragraph-l {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  letter-spacing: normal;
  line-height: 160%;
  font-style: normal;
}

.paragraph-s {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: normal;
  line-height: 150%;
  font-style: italic;
}

.paragraph-mobile-menu {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: normal;
  line-height: 160%;
  font-style: normal;
}

.logo__title {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1.92px;
  line-height: 110%;
  font-style: normal;
}

.logo__subtitle {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  letter-spacing: 1.3px;
  line-height: normal;
  font-style: normal;
}

.header {
  position: relative;
}

.header_absolute {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__link > *:first-child {
  margin: 0 0 10px 0;
}

.logo__title {
  color: #F1CDB3;
}

.logo__subtitle {
  display: block;
  text-align: center;
  color: #FFFFFF;
}

.nav-menu {
  display: flex;
}

.nav-menu > *:not(:last-child) {
  margin: 0 35px 0 0;
}

.nav-menu__link {
  display: block;
  color: #CDCDCD;
  transition: color 0.5s ease-in-out;
}

.nav-menu__link:not(.nav-menu__link_active):hover {
  color: #FAFAFA;
}

.nav-menu__link_active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.not-only {
  position: relative;
  background: url(../../../assets/images/background-noise.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.not-only__container {
  padding-top: 180px;
  display: flex;
}

.not-only__body {
  padding: 163px 0 243px 0;
  max-width: 460px;
}

.not-only__body > *:not(:last-child) {
  margin: 0 0 42px 0;
}

.not-only__title {
  color: #FFFFFF;
  max-width: 410px;
}

.not-only__subtitle {
  color: #CDCDCD;
}

.not-only__make-friend {
  display: flex;
  justify-content: flex-start;
}

.not-only__btn-make-friend {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.0625rem;
  letter-spacing: 1.02px;
  line-height: 130%;
  font-style: normal;
  cursor: pointer;
  background-color: #F1CDB3;
  transition: background 0.5s ease-in-out;
}

.not-only__btn-make-friend:hover {
  background: #FFFFFF;
}

.not-only__puppy-img {
  position: relative;
  right: -42px;
  bottom: -1px;
}

.about__container {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
}

.about__container > * {
  flex: 0 1 50%;
}

.about__image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 60px;
}

.about__body {
  padding: 14px 0 0 4px;
  max-width: 430px;
}

.about__body > *:not(:last-child) {
  margin: 0 0 25px 0;
}

.about__title {
  color: #545454;
  max-width: 370px;
}

.about__subtitle {
  color: #4C4C4C;
}

.pets {
  background: #F6F6F6;
}

.pets__container {
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets__container > *:not(:last-child) {
  margin: 0 0 60px 0;
}

.pets .pets__title {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(10px);
}

.pets-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 43px 0 61px;
  position: relative;
}

.pest__slider-arrow-prev, .pest__slider-arrow-next {
  position: absolute;
}

.pest__slider-arrow-prev {
  left: 0;
}

.pest__slider-arrow-next {
  right: 0;
}

.pets-slider__item {
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 435px;
  transition: box-shadow 0.5s ease-in-out;
}

.pets-slider__item:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-slider__item:hover .pet-slider__btn-learn-more {
  border-color: #FDDCC4;
  background: #FDDCC4;
}

.pets-slider__item > * {
  margin: 0 0 30px 0;
}

.pet-slider__pet-name {
  color: #545454;
  font-size: 1.25rem;
  letter-spacing: 1.2px;
}

.pet-slider__btn-learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.0625rem;
  letter-spacing: 1.02px;
  line-height: 130%;
  font-style: normal;
  cursor: pointer;
  border: 2px solid #F1CDB3;
  max-height: 52px;
  transition: all 0.5s ease-in-out;
}

.pets__rest {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 20px;
}

.pets__btn-rest {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.0625rem;
  letter-spacing: 1.02px;
  line-height: 130%;
  font-style: normal;
  cursor: pointer;
  background-color: #F1CDB3;
  transition: opacity 0.5s ease-in-out;
}

.pets__btn-rest:hover {
  opacity: 0.5;
}

.help__container {
  padding-top: 80px;
  padding-bottom: 100px;
  padding-top: 77px;
}

.help__title {
  text-align: center;
  margin: 0 0 60px 0;
  padding: 0 0 0 18px;
}

.help__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
  padding: 0 0 0 18px;
}

.help__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.help-item__img {
  width: 60px;
  margin: 0 0 30px 0;
}

.help-item__title {
  text-align: center;
}

.donation {
  background-color: #F6F6F6;
}

.donation-container {
  padding-top: 80px;
  padding-bottom: 100px;
}

.donation__row {
  padding: 0 142px 0 143px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donation__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 30px;
}

.donation__body > *:not(:last-child) {
  margin: 0 0 20px 0;
}

.donation__title {
  color: #545454;
}

.bank-name {
  color: #545454;
}

.credit-card {
  display: flex;
  background-color: #F1CDB3;
  padding: 10px 15px;
  border-radius: 9px;
}

.credit-card__link-number {
  transition: opacity 0.5s ease-in-out;
}

.credit-card__link-number:hover {
  opacity: 0.5;
}

.credit-card__number {
  color: #545454;
  padding: 0 0 0 15px;
}

.donation__info {
  color: #B2B2B2;
}

.footer {
  position: relative;
  background: url(../../../assets/images/background-noise.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer-container {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts,
.footer__location {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__title ~ *,
.location__title ~ * {
  color: #F1CDB3;
}

.contacts > *:not(:last-child) {
  margin: 0 0 40px 0;
}

.contacts__title,
.location__title {
  color: #FFFFFF;
}

.contacts__email-link,
.contacts__phone-link,
.location__item-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #F1CDB3;
  transition: opacity 0.5s ease-in-out;
}

.contacts__email-link:hover,
.contacts__phone-link:hover,
.location__item-link:hover {
  opacity: 0.5;
}

.contacts__email-name,
.contacts__phone-number,
.location__name {
  padding: 0 0 0 20px;
}

.location__title {
  margin: 0 0 34px 0;
}

.location__item:not(:last-child) {
  margin: 0 0 32px 0;
}

.footer__puppy-img {
  position: relative;
  right: -20px;
  bottom: -20px;
}/*# sourceMappingURL=main.css.map */