.about__container {
	@include paddingForBlocks;
	display: flex;
}
.about__container > * {
	flex: 0 1 50%;
}
.about__image {
	@include flexAllCenter;
}
.about__body {
	padding: 14px 0;
	max-width: 380px;
}
.about__body > *:not(:last-child) {
	margin: 0 0 25px 0;
}
.about__title {
	color: $color-dark-l;
}
.about__subtitle {
	color: $color-dark-xl;
}