.donation-container {
	@include paddingForBlocks;
}
.donation__row {
	padding: 0 142px 0 143px;
	@include flexAllCenter;
}
.donation__image {
}
.donation__body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 0 0 30px;
}
.donation__body > *:not(:last-child) {
	margin: 0 0 20px 0;
}
.donation__title {
	color: $color-dark-l;
}
.bank-name {
	color: $color-dark-l;
}
.donation__credit-card {
}
.credit-card {
	display: flex;
	background-color: $color-primary;
	padding: 10px 15px;
	border-radius: 9px;
}
.credit-card__icon {
}
.credit-card__number {
	padding: 0 0 0 15px;
}
.donation__info {
	color: $color-dark-m;
}