.not-only {
	position: relative;
	background: url(../../../assets/images/background-noise.png)
					,radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.not-only__container {
	padding-top: 180px;
	display: flex;
}
.not-only__body {
	padding: 163px 0 243px 0;
	max-width: 460px;
}
.not-only__body > *:not(:last-child) {
	margin: 0 0 42px 0;
}
.not-only__title {
	color: $color-light-xl;
	max-width: 410px;
}
.not-only__subtitle {
	color: $color-dark-s;
}
.not-only__make-friend {
	display: flex;
	justify-content: flex-start;
}
.not-only__btn-make-friend {
	@include buttonStyle;
	background-color: $color-primary;
}
.not-only__puppy-img {
	position: relative;
	right: -42px;
	bottom: -1px;
}